@using clean_mvc.Domain.Entities;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="#">Hello, @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            @* <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Sign Out</a> *@
            @* asp-route-returnUrl="@Url.Action("Logout", "User", new { area = "" })" *@
            @* <form id="logoutForm" class="form-inline" asp-area="" >
            </form> *@
            <a id="logout" class="nav-link btn btn-link text-dark" asp-controller="User" asp-action="Logout">Sign Out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" id="register" asp-controller="User" asp-action="Register" >Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="login" asp-controller="User" asp-action="Login" >Login</a>
        </li>
    }

</ul>